#dialog{
    height: 550px;
}

.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.repo{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
/* #dialog{
    max-height: 150vh;
} */
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.userinfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;

}
.userinfo mat-icon{
padding-right: 3px;
}
.userinfo p{
    margin: 5px 0;
}
#follow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
p span{
    font-weight: 600;
}
img{
    margin-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: rgba(34, 64, 99, 0.3) 0px 0px 0px 3px;
}

h1{
    text-align: center;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stars mat-icon{
    padding-right: 3px;
    }