<h1 mat-dialog-title><a [href]="user?.html_url" target="_blank">
        {{user?.login}}
    </a></h1>
<div mat-dialog-content #dialog>
    <mat-progress-spinner color="accent" mode="indeterminate" *ngIf="user == null; else content"></mat-progress-spinner>
    <ng-template #content>
        <div class="img"><img [src]="user?.avatar_url" alt="foto do usuário {{username}}"></div>
        <div class="userinfo">
            <h2>{{user?.name}}</h2>
            <p>{{user?.bio}}</p>
            <div id="follow"> 
            <mat-icon>people_outline</mat-icon> <p><span>{{user?.followers}}</span> followers · <span>{{user?.following}}</span> following</p></div>
        </div>
        <mat-card class="repo" *ngFor="let item of userRepos; let i = index" [attr.data-index]="i" class="repo">
            <p>{{userRepos![i].name}}</p>
            <a [href]="userRepos![i].html_url" target="_blank">info</a>
            <p>{{userRepos![i].stargazers_count}} stars</p>
            <p>{{userRepos![i].language}}</p>
        </mat-card>
    </ng-template>
</div>
