#dialog{
    height: 550px;
}
.mat-dialog-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.repo{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    box-shadow: rgba(111, 126, 142, 0.3) 0px 0px 0px 3px;
    box-shadow: rgba(34, 64, 99, 0.3) 0px 0px 0px 3px;
    background-color: rgba(128, 128, 128, 0.101);
    background-color: #6487d71a;
}
/* #dialog{
    max-height: 150vh;
} */
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
#foto{
    margin-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: rgba(34, 64, 99, 0.3) 0px 0px 0px 3px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ghLogo{
    width: 40px;
    height: 40px;
}
.userinfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;

}
.userinfo mat-icon{
padding-right: 3px;
}
.userinfo p{
    margin: 5px 0;
}
#bio{
    font-size: larger;
}
#follow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
p span{
    font-weight: 600;
}


h1{
    text-align: center;
}
/* ------------------------------------------------------------------------------ */
h3{
    padding-right: 5px;
}
#repolink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
}
#launch{
    margin-top: 5px;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stars mat-icon{
    padding-right: 3px;
    }

#lang{
    margin-top: 0;
    margin-bottom: 8px;
}

/* #star{

} */